__pycache__/
scratchcode
.secrets/
.github-ssh/
.venv-llmbasics/
*.py[cod]
.env
.env.*
env
cookies.txt
cockroach-data/
uploads/
config.py
**/data/chroma_index/
deploy/db-snapshot-*.tsv
deploy/migration/*.sql
*.priv
llmlab/*.zip
.venv/
.venv*/
.DS_Store
