openai
python-dotenv
langchain
langchain_community
langchain_openai
faiss-cpu>=1.12.0,<2.0
langchain_text_splitters==0.2.0
argparse
colorama
langsmith
beautifulsoup4
flask
flask-cors
pandas
scikit-learn
modelscan
torch
transformers
datasets
accelerate
scipy
llm-guard
sqlalchemy
mcp
uv
requests
mlflow